body {
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: gold 
}
a{
    color: goldenrod;
    background-color: gold;
}
a:hover{
    color: rgb(255, 219, 102);
    background-color: yellow;
    transition:all 0.2s ease-in;
    font-size: 30px;
}
img{
 width: 450px;
 height: 300px;
}
img:hover{
   opacity:0.5;
   transition: all linear 1s;
}
p{
  color: yellow;  
  background-color: darkgoldenrod;
  }

.klee{
  position: relative;
}

.klee:hover::after {
  content: "историческая справка: 4 октября 2011 года по благословению Высокопреосвященнейшего митрополита Калужского и Боровского Климента настоятелем будущего храма был назначен протоиерей Владимир Финогенов 9 июня 2013 года был освящён православный крест на месте строительства нового храма и отслужен первый молебен, начались строительные работы, заложен фундамент и начато возведение первого яруса";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 350px;
  transform: translate(-50%, -50%);
}

.klee:hover img {
  opacity: 0.5;
}
.klee2{
  position: relative;
}

.klee2:hover::after {
  content: "После скоропостижной кончины протоиерея Владимира в 2016 году настоятелем храма назначен протоиерей Сергий Балахонов - священнослужитель храма святых равноапостольных великих князей Владимира и Ольги. Его усилиями строительство коллонтаевского храма было возобновлено и активно продолжалось при поддержке благотворителей. В настоящее время настоятелем храма назначен о. Иоанн Бойко. Будущий храм не случайно посвящен иконе Божией Матери «Феодоровской». Село, в первые советские годы переименованное в Коллонтай, берет начало от деревни Князь-Романова.";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 350px;
  transform: translate(-50%, -50%);
}

.klee2:hover img {
  opacity: 0.5;
}
